    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #07102b, #0a5275);
      color: #f8f9fa;
      overflow-x: hidden;
    }

    .container-glass {
      backdrop-filter: blur(12px);
      border-radius: 25px;
      padding: 40px 30px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .section-title {
 height: 60px;

  width: 100%;
  padding-top: 5px;

font-size: 33px;
padding-top: 10px;
  font-weight: bolder;
    background: linear-gradient(135deg, #0056b3, #0099cc);
    color: rgba(225, 225, 181, 1);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 255, 255, 0.25);
    }

    .ent-card {
        background: linear-gradient(135deg, #03122b, #094b72);

      border-radius: 15px;
      padding: 20px;
      text-align: center;
      transition: all 0.4s ease;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .ent-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
    }

    .ent-card img {
      border-radius: 10px;
      width: 100%;
      height: 100%px;
      margin-bottom: 15px;
      
    }

    .ent-card h5 {
      font-weight: 700;
      color: #ffffff;
      margin-top: 10px;
    }

    .ent-card p {
      color: #e8f6f7;
      font-size: 0.95rem;
    }

    .btn-custom {
        background-color: rgb(7, 15, 43);

    color: white;
      border: none;
  width: 100%;
  height: 50px;
  
  border-radius: 15px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.6s ease, background 0.4s ease;
    }

    .btn-custom:hover {
      background-color: #00bcd4;
      box-shadow: 0 0 20px #1ecac1;
      transform: translateY(-3px);
    }
