body {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.text-gradient {
   background: linear-gradient(135deg, #0056b3, #0099cc);
width: 100%;
height: 60px;
font-size: 30px;
  font-weight: 900;
padding-top: 12px;
padding-left: 30px;

border-radius: 20px;
    color: rgba(225, 225, 181, 1);
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-card:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 12px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 600;
  letter-spacing: 1px;
}

.gallery-card:hover .overlay {
  opacity: 1;
}
