* {
    margin: 0%;
    padding: 0%;
      font-family: 'Poppins', sans-serif;

}
    .top-bar {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
      justify-content: end;
      align-items: center;
      font-size: 12px;
  color: #d8d8d8;

    }

    .right-links a {
      margin: 0 8px;
      color: #d6d6d6;
      text-decoration: none;
            transition: 0.3s ease;

    }

.right-links a:hover {
      margin: 0 8px;
      color: #1ecac1;
    }

.container-fluid2{ 
   
  background-color: rgb(3, 52, 110);
          font-size: 17px;
            font-weight: bold;


}
          .top-bar{
    background-color: rgb(7, 15, 43);
}
.nav-item{
    color: rgba(225, 225, 181, 1);
      background-color: rgb(3, 52, 110);
                  transition: 0.3s ease;



}
    .nav-item:hover{
      background-color: #1ecac1;
      border-radius: 10px;
          color: rgb(0, 0, 0);



}
   


       