  body {
      background: linear-gradient(135deg, #03122b, #094b72);

      font-family: 'Poppins', sans-serif;
      background-color: #f8fafc;
      color: #212529;
    }
   .back {
  background-attachment: fixed;
  color: #e6f9ff;
}
.head1 {
    height: 60px;
  width: 100%;
  padding-top: 5px;
  font-weight: bolder;
    background: linear-gradient(135deg, #0056b3, #0099cc);
    color: rgba(225, 225, 181, 1);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 255, 255, 0.25);
}

    .about-section {
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      padding: 50px;
      margin-top: 60px;
      color: #03122b;
    }

    .about-section h2 {
      color: #074799;
      font-weight: 700;
    }

    .menu-section h2 {
      color: #074799;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .menu-item {
        background-color: rgb(7, 15, 43);
        color: white;
      border-radius: 15px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .menu-item:hover {
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.3);
    }

    .menu-item img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .menu-item .info {
      padding: 15px;
    }

    .menu-item h5 {
      color:#1ecac1;
text-shadow: 0px 0px 10px #1ecac1;

      font-weight: 600;
    }

    .menu-item ul {
      font-size: 12px;
      margin-top: 10px;
      line-height: 25px;
      color: rgba(225, 225, 181, 1);
    }

    
    .reservation {
      background: linear-gradient(to bottom right, #0b1b31, rgb(3, 52, 110));
      color: white;
      padding: 60px 0;
      text-align: center;
    }

    .reservation h2 {
            color: white;

      font-weight: 700;
      margin-bottom: 20px;
    }

    .reservation input,
    .reservation textarea {
      border-radius: 10px;
      border: none;
      padding: 10px;
    }

    .reservation button {
 background-color: rgb(7, 15, 43);

    color: white;
      border: none;
  width: 150px;
  height: 50px;

  border-radius: 15px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.6s ease, background 0.4s ease;

    }

    .reservation button:hover {
   background-color: #00bcd4;
      color: #07102b;
      transform: translateY(-3px);
      box-shadow: 0 0 15px #1ecac1;
    }

   