body {
  background: linear-gradient(135deg, #03122b, #094b72);
  background-attachment: fixed;
  color: #e6f9ff;
}
img{
    width: 200px;
}
.card-row{
  position: relative;
  top: 60px;
}
.Button-mid{
    background-color: rgb(7, 15, 43);

    color: white;
      border: none;
  width: 100%;
  height: 50px;
padding-top: 5px;
  position: relative;
  top: 50px;
  border-radius: 15px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.6s ease, background 0.4s ease;
}
.Button-mid:hover {

   background-color: #00bcd4;
      color: #07102b;
      transform: translateY(-3px);
      box-shadow: 0 0 15px #1ecac1;
      
}

.Button{
    background-color: rgb(7, 15, 43);

    color: white;
      border: none;
  width: 100%;
  height: 50px;
padding-top: 5px;
  position: relative;
  top: 30px;
  border-radius: 15px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.6s ease, background 0.4s ease;
}
.Button:hover {

   background-color: #00bcd4;
      color: #07102b;
      transform: translateY(-3px);
      box-shadow: 0 0 15px #1ecac1;
      
}
.cards{
    width: 300px;
    height: 450px;
    position: relative;
    top: 50px;
  background: linear-gradient(135deg, #03122b, #005d92);
  border-radius: 12px;
    line-height: 40px;

  padding: 25px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
}
.cards:hover{

    height: 450px;

     box-shadow: 0 0 40px rgba(0, 255, 255, 0.6);
  opacity: 1;
}
.card-mid{
    width: 300px;
    height: 500px;
    position: relative;
  background: linear-gradient(135deg, #03122b, #005d92);
  border-radius: 12px;
  line-height: 40px;
  padding: 25px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
}

.card-mid:hover{
     box-shadow: 0 0 40px rgb(0, 255, 255);
}


h3{
    font-weight: bolder;
}
h1{
      background: linear-gradient(135deg, #0056b3, #0099cc);
width: 100%;
height: 60px;
position: relative;

top: 50px;
border-radius: 20px;
    color: rgba(225, 225, 181, 1);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0px;
  font-size: 30px;
  font-weight: 900;
}
  a{
      text-decoration: none;
    }